<template lang="html">
  <div class="has-bg-blur">
    <div class="p-2 content ">
      <h2><span class='is-size-6 has-text-weight-light has-text-white'>What's your opinion on</span> <br> <b class='is-size-2-desktop is-size-3 is-size-4-mobile has-text-white'>Pope Francis?</b></h2>
      <p class='is-size-5-desktop is-size-6 has-text-white mt-3'>He's talking tough on clergy sexual abuse, but is he just another
      papal pervert protector? (thumbs-down) or a true pedophile punishing pontig?(thumbs up)</p>
      <a href="#" class='is-size-6 has-text-white mt-3'><i><i class="fab fa-wikipedia-w"></i></i> More Information</a>

      <p class='is-size-5 mt-5 has-text-white'><b>What's your verdict?</b></p>
    </div>
    <div class="columns is-mobile is-centered mx-0">
      <div class="column thumbs-header  is-flex has-green-bg has-text-white is-size-2-desktop is-size-3">
        <i class="fas fa-thumbs-up"></i>
      </div>
      <div class="column thumbs-header is-flex has-orange-bg has-text-white is-size-2-desktop is-size-3">
        <i class="fas fa-thumbs-down"></i>
      </div>
    </div>
  </div>

</template>

<script>
  export default {
    name:'PollHeader',
  }
</script>

<style lang="scss">
.has-bg-blur{
background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,0.7063200280112045) 0%, rgba(150,150,150,0.5858718487394958) 100%, rgba(255,255,255,0.7091211484593838) 100%);
}
.thumbs-header{
  cursor:pointer;
  align-items:center;
  justify-content:center;
}


</style>
