<template lang="html">
  <div class="is-flex poll-goes">
    <div class="poll is-flex has-green-bg has-text-white is-size-4 is-size-5-mobile" :style='"width:" + getPercent(poll.up, poll.total) '>
    <i class="fas fa-thumbs-up"></i>
    <p class='has-text-white is-size-4 is-size-5-mobile has-text-weight-light'>{{getPercent(poll.up, poll.total)}}</p>
    </div>
    <div class="poll is-flex has-orange-bg has-text-white is-size-4 is-size-5-mobile" :style='"width:" +  getPercent(poll.down, poll.total) '>
    <i class="fas fa-thumbs-down"></i>
    <p class='has-text-white is-size-4 is-size-5-mobile has-text-weight-light'>{{getPercent(poll.down, poll.total)}}</p>
    </div>
  </div>
</template>

<script>
  export default {
    name:'PollVote',
    props:['poll'],
    methods:{
      getPercent:function(number, total){
        let percent = parseFloat(number/total*100).toFixed(1);
        let numbah = (percent % 1 == 0)? parseInt(percent) : percent;
        return numbah + '%';
      }
    },
    async mounted() {
     await this.poll;
    }
  }
</script>

<style lang="scss">
.has-green-bg{
  background-color:rgba(32, 206, 197, .8);
  &:hover{
    background-color:rgba(54, 212, 206, 1);
  }
}
.has-orange-bg{
  background-color:rgba(245, 156 , 0, .8);
  &:hover{
      background-color:rgba(245, 156 , 0, 1);
  }
}

.poll{
  padding:.6rem;
  align-items:center;
  justify-content:center;
}
</style>
