<template lang="html">
<div class="poll-container p-2">
  <div class='poll-card is-flex' :style='"background:url("+ getImgUrl(candidate.photo, "jpg") +")"'>
 <div class="p-2">
 <div class="is-flex candidate-info">
   <div class='has-text-white poll-tendency' :class="{'is-green':poll.up >= poll.down, 'is-orange':poll.down > poll.up}">
     <i class="fas fa-thumbs-up" v-if='poll.up >= poll.down'></i>
     <i class="fas fa-thumbs-down" v-else-if='poll.down > poll.up'></i>
   </div>
   <div>
     <h3 class='has-text-white is-size-2-widescreen is-size-2-desktop is-size-3'>{{candidate.name}}</h3>
     <p class='has-text-white is-size-7'><span class='has-text-weight-bold'>1 month ago</span> in {{candidate.category}}</p>
   </div>
 </div>
 <div class="candidate-info">
  <p class='has-text-white mt-3'>{{candidate.description}}</p>
</div>
<div class="buttons-poll mt-4 columns w-100 is-mobile">
  <transition name="vote">
  <div class="vote-btns column is-5-desktop is-4-widescreen is-7-tablet is-7-mobile is-flex is-justified-between" v-if='wantVote == true'>
    <button class='button thumbs is-green has-text-white is-size-5' type="button" name="button" @click='vote("up")'><i class="fas fa-thumbs-up"></i></button>
    <button class='button thumbs is-orange has-text-white is-size-5' type="button" name="button" @click='vote("down")'><i class="fas fa-thumbs-down"></i></button>
  </div>
  </transition>
  <button class='button is-outlined is-white' v-if='poll.maxCount <=2' type="button" name="button" @click='wantVote = !wantVote'>{{voteText(wantVote, poll.maxCount)}}</button>
  <button v-else type="button" class='button is-outlined is-white mt-4' name="button" disabled>Vote disabled</button>
</div>
 </div>
<voteCount class='mt-4' :poll.sync='poll'/>
</div>

<transition name="slide">
<div class="notification is-success" v-if='notifyMessage.length > 0 && poll.maxCount <= 2'>
<button class="delete"></button>
 {{notifyMessage}}
</div>
</transition>
<transition name="slide">
<div class="notification is-warning" v-if='poll.maxCount > 2 && alertSeen == false'>
<button class="delete" @click='alertSeen = true'></button>
Thanks again! You can only vote 3 times per candidate
</div>
</transition>
  </div>
</template>

<script>

  import PollVote from './PollVote';

  export default {
    name:'PollCandidate',
    props:['candidate'],
    data:function(){
      return{
        poll:{},
        wantVote:false,
        alertSeen:false,
        notifyMessage:''
      }
    },
    components:{
      voteCount:PollVote
    },
    methods:{
      getImgUrl:function(asset, typeImg) {
      if(typeImg == 'jpg'){
        let images = require.context('./../../assets/', false, /\.jpg$/)
        return images('./' + asset)
      } else{
        let images = require.context('./../../assets/', false, /\.png$/)
        return images('./' + asset)
      }
       },

       voteText:function(wantVote, maxCount){
         if(maxCount > 0 && wantVote == false ){
           return 'Vote Again';
         }else if(maxCount <= 0 && wantVote == false){
           return 'Vote Now';
         }
         if(wantVote == true){
           return 'Cancel Vote';
         }
       },
       vote:function(voteFor){
         this.poll[voteFor] += 1;
         this.poll.total += 1;
         this.poll.maxCount += 1;
         this.wantVote = false;
         let elPoll = JSON.parse(localStorage.getItem('poll'));
         for(let i = 0 ; i< elPoll.length ; i++){
           if(elPoll[i].id == this.candidate.id){
             elPoll[i].poll = this.poll;
           }
         }
         localStorage.setItem('poll', JSON.stringify(elPoll));
         this.notifyMessage = (this.poll.maxCount>1)? 'Thanks again!':'Thank you for Voting!';
         let self = this;
         setTimeout(function(){ self.notifyMessage = '' }, 1500);
       },
    },
    async mounted() {
      await this.candidate;
      this.poll = this.candidate.poll;
      if(this.poll.maxCount > 2){
        this.alertSeen=true;
      }
    }
  }
</script>

<style lang="scss">
 .poll-container{
   position:relative !important;
   .notification{
     position:absolute;
     top:3%;
     width:93%;
     transition:.4s;
     -webkit-transition:.4s;
     @media (max-width: 780px) {
      width:92%;
     }
   }
   @media (max-width: 780px) {
    padding:0.5rem !important;
      margin-bottom:1.5rem;
   }
   @media (max-width: 480px) {
    padding:0rem !important;
   }
 }
 .poll-card{
  height:500px;
  -webkit-box-shadow: inset 5px -131px 104px -9px rgba(0,0,0,0.69);
  -moz-box-shadow: inset 5px -131px 104px -9px rgba(0,0,0,0.69);
  box-shadow: inset 5px -131px 104px -9px rgba(0,0,0,0.69);
  background-position:center top;
  background-size:cover !important;
  background-repeat:no-repeat !important;

  flex-direction:column;
  justify-content:flex-end;
  h3{
  line-height:1;
  }
  @media (max-width: 780px) {
    height:400px;
    -webkit-box-shadow: inset 5px -100px 200px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 5px -100px 200px -9px rgba(0,0,0,0.75);
    box-shadow: inset 5px -100px 200px -9px rgba(0,0,0,0.75);
  }
 }
 .buttons-poll{
   align-items:center;
   padding-left:1rem;
 }
 .vote-feedback{
   display:none;
 }
 .vote-feedback.active{
   display:block;
 }
 .candidate-info{
   position:relative;
   padding:0px 1.5rem;
 }
 .poll-tendency{
   display:flex;
   padding:10px;
   height:35px;
   position:absolute;
   left:-19px;
   top:30%;
 }

 .thumbs{
   &:hover{
     border:3px solid #fff;
     transition:.2s;
     -webkit-transition:.2s;
   }
 }

.slide-enter-active{
  animation:grow .4s forwards;
  -webkit-animation:grow .4s forwards;
}
.slide-leave-active {
  animation:grow .4s reverse;
  -webkit-animation:grow .4s reverse;
}

.vote-enter-active{
  animation:growRight .3s forwards;
  -webkit-animation:growRight .3s forwards;
   @media (max-width: 780px) {
     animation:growRightm .3s forwards;
     -webkit-animation:growRightm .3s forwards;
   }
   @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
     animation:growRight .3s forwards;
     -webkit-animation:growRight .3s forwards;
   }
}
.vote-leave-active {
  animation:growRight .4s reverse;
  -webkit-animation:growRight .4s reverse;
  @media (max-width: 780px) {
    animation:growRightm .2s reverse;
    -webkit-animation:growRightm .2s reverse;
  }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    animation:growRight .2s reverse;
    -webkit-animation:growRight .2s reverse;
  }
}

@keyframes grow {
  0%{
    opacity:0;
    transform:translateY(-40px);
  }
  100% {
   opacity:1;
   transform:translateY(0px);
  }
}

@keyframes growRight {
  0%{
    width:0;
    opacity:0;
    transform:translateX(-40px);
  }
  100% {
     width:41.66667%;
   opacity:1;
   transform:translateX(0px);
  }
}

@keyframes growRightm {
  0%{
    width:0;
    opacity:0;
    transform:translateX(-40px);
  }
  100% {
   width:58.3333%;
   opacity:1;
   transform:translateX(0px);
  }
}

</style>
