<template lang="html">
  <div>
  <transition name="slide" v-if='closeInfo == false'>
    <section class='banner mt-4 p-2'>
      <div class="container-content" >
        <div class="columns w-100 is-centered is-mobile is-multiline  has-background-light p-1">
          <div class="column is-3-desktop is-3-widescreen is-12-mobile">
            <h3 class='is-size-3'><small>Speak out. Be heard</small> <br>
            <b>Be counted</b>
             </h3>
          </div>
          <div class="column is-flex is-aligned-center is-9-desktop is-9-widescreen is-12-mobile">
            <p>Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely. It's easy: You share your opinion, we analyze and put the data in a public report.</p>
            <div class="is-3 is-size-4 button is-light" @click='closeInfo = true'>
              X
            </div>
          </div>
        </div>
      </div>
    </section>
      </transition>
    <section class='votes'>
      <div class="container-content" :class='{"mt-5":closeInfo == true, "mt-3":closeInfo == false}'>
        <h2 class='is-size-2 has-text-left has-text-weight-light'>Votes</h2>
        <div class="columns w-100 is-centered is-multiline is-mobile mt-5">
          <candidate v-for='(poll, key) in polls' :candidate= 'poll' :key='key' class='candidate column is-6-desktop is-12-mobile' />
        </div>
      </div>
    </section>
    <section class='banner'>
      <div class="container-content little-banner">
      <div class="columns is-centered is-multiline is-mobile">
        <div class="column  is-9-desktop is-9-widescreen is-12-mobile has-text-centered">
          <p class='has-font-weigth-light is-size-3'>Is there anyone else you would want us to add?</p>
        </div>
        <div class="column is-3-desktop is-flex is-justified-center is-aligned-center is-3-widescreen is-12-mobile">
          <button type="button" class='button is-outlined  button-submit' name="button"><b>Submit a name</b></button>
        </div>
      </div>
    </div>
    </section>
  </div>
</template>

<script>

import PollCandidate from './vote/PollCandidate.vue';
export default {
  name:'Home',
  data:function(){
    return{
      closeInfo:false,
      polls:[
        {id:0, photo:'kanye.jpg', name:'Kanye West', category:'Entertainment' ,description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id augue neque. Mauris euismod urna turpis, in consequat orci semper sed.', poll:{up:39 , down:16, total:55, maxCount:0}},
        {id:1, photo:'mark.jpg', name:'Mark Zuckerberg', category:'Business' ,description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id augue neque. Mauris euismod urna turpis, in consequat orci semper sed.', poll:{up:60 , down:81, total:141, maxCount:0}},
        {id:2, photo:'cristina.jpg', name:'Cristina Fernández de Kirchner', category:'Politics' ,description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id augue neque. Mauris euismod urna turpis, in consequat orci semper sed.', poll:{up:26 , down:34, total:50, maxCount:0}},
        {id:3, photo:'malala.jpg', name:'Malala Yousafzai', category:'Entertainment' ,description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id augue neque. Mauris euismod urna turpis, in consequat orci semper sed.', poll:{up:64 , down:36, total:100, maxCount:0}}
      ]
    }
  },
  components:{
    candidate:PollCandidate,

  },

  created(){

  },
  async mounted() {
    let elPoll = localStorage.getItem('poll');
    if(elPoll == undefined && elPoll == null){
      localStorage.setItem('poll',  JSON.stringify(this.polls));
    }else{
      this.polls = [];
      this.polls = await JSON.parse(elPoll);

    }
  }
}
</script>

<style lang="scss">


.banner{
  padding-top:2.5rem;
  margin-bottom:2rem;
  h3{
    line-height:1;
  }
  .columns{
    margin-left:0 !important;
  }
}

.fade-bg{
  padding:5px!important;
  background: rgb(245,245,245);
  background: linear-gradient(90deg, rgba(245,245,245,0.9220063025210083) 0%, rgba(255,255,255,0.4766281512605042) 100%);
}
.fade-bg-extra{
  padding:5px!important;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0.23012955182072825) 0%, rgba(0,0,0,0.36458333333333337) 100%);
}


.votes{
  .columns{
    margin-left:0 !important;
  }
}
.candidate{
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    width:50% !important;
  }
}

.slide-enter-active{
  animation:growout .3s forwards;
  -webkit-animation:growout .3s forwards;
}
.slide-leave-active {
  animation:growout .3s reverse;
  -webkit-animation:growout .3s reverse;
}
@keyframes growout {
  0%{
    opacity:0;
    transform:translateY(-40px);
  }
  100% {
   opacity:1;
   transform:translateY(0px);
  }
}
.little-banner{
  background:url('./../assets/little-banner.jpg');
  background-position:center;
  background-size:cover !important;
  background-repeat:no-repeat!important;
}

.button-submit{
  border:2px solid #000 !important;
  &:hover{
  border:3px solid #000 !important;
  transition:.4s;
  }
}
</style>
