<template lang="html">
  <div class="component-wrapper w-100 has-text-centered">
<h1 class='is-size-2'><b>How it Works</b></h1>
  </div>
</template>

<script>
  export default {
    mounted() {

    }
  }
</script>

<style lang="css">
</style>
