<template lang="html">
  <footer class="footer has-background-white container-content is-flex">
  <div class="is-flex column is-6-desktop  footer-items">
    <router-link class='has-text-grey' to="/terms-and-conditions">Terms and conditions</router-link>
    <router-link class='has-text-grey' to="/terms-and-conditions">Privacy Policy</router-link>
    <router-link class='has-text-grey' to="/terms-and-conditions">Contact Us</router-link>
  </div>
  <div class="footer-social column is-6-desktop is-flex">
    <p class='has-text-grey'>Follow us</p>
    <a href="#"><i class="fab fa-facebook-square"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</footer>
</template>

<script>
export default {
  name:'Footer',
}
</script>

<style lang="scss">
.footer{
  flex-wrap:wrap;
  border-top: 4px dotted;
  justify-content:space-between;
  .footer-items{
    align-items:center;
    justify-content:space-between;
    a{
      &:hover{
        text-decoration:underline;
      }
    }
  }
  .footer-social{
    justify-content:flex-end;
    align-items:center;
    p{
      margin-right:5px;
    }
    a{
      font-size:2rem;
      margin-left:1rem;
      color:#7a7a7a;
      &:hover{
        color:#4c6ef5;
      }
    }
  }
  .footer-social{
    @media (max-width: 767px) {
      justify-content:space-around;
    }
  }
}
</style>
