<template lang="html">
<section class="hero " :class='{"is-primary no-banner":hasBackground == false, "is-medium has-background home-banner":hasBackground == true}'>
  <div class="hero-head">
  <div class='container'>
  <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <router-link to='/' class="navbar-item" >
     <h3 class='has-text-white has-text-weight-semibold is-size-3-desktop is-size-3 is-size-4-mobile'>Rule of Thumb.</h3>
   </router-link>
    <a role="button" class="navbar-burger burger" @click='menuActive = !menuActive' :class='{"is-active is-white has-text-black has-background-white":menuActive, "has-text-white":!menuActive}' aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu" :class='{"is-active":menuActive}'>
    <div class="navbar-end">
      <div class="navbar-item">
        <router-link to="/past-trials">Past Trials</router-link>
      </div>
      <div class="navbar-item">
        <router-link to="/how-it-works">How it Works</router-link>
      </div>
      <div class="navbar-item">
        <p>Log In/Sign Up</p>
      </div>
      <div class="navbar-item search-button" :class='{"active":searchActive}' @click='searchActive = true'>
       <p class='is-size-4' v-if="!searchActive"><i class="fas fa-search"></i></p>
       <div class="has-background-white" ref="search" v-if='searchActive' @focusout='searchActive = false'>
         <input type="search" name="search"  @keyup.enter="searchActive = false" class='input' placeholder="What are you looking for?">
       </div>
      </div>

    </div>
  </div>
</nav>
</div>
  </div>
  <div class="hero-body" v-if='$route.fullPath == "/"'>
    <div class="columns">
      <div class="column is-2"></div>
      <div class="column is-5-desktop is-4-widescreen is-10  is-10-mobile" >
        <PollHeader/>
      </div>

    </div>
  </div>
  <div class="hero-foot" v-if='$route.fullPath == "/"'>
    <div class="columns w-100 is-mobile">
      <div class="column is-4 is-flex fade-bg-extra closing-tip">
        <p class='has-text-white has-text-right'>CLOSING IN</p>
        <div class="arrow-right"></div>
      </div>
      <div class="column is-8 fade-bg">
        <h3 class='is-size-3'><b>22</b> days</h3>
      </div>
    </div>
  </div>
</section>
</template>

<script>
import PollHeader from './../vote/PollHeader';
  export default {
    name:'Nav',
    data:function(){
      return{
       menuActive:false,
       searchActive:false,
       banners:[
         {currentRoute:'/', bannerImg:'Pope.jpg' },
       ],
       hasBackground:false,
       currentBanner:{}
      }
    },
    components:{
      PollHeader
    },
   methods:{
      searchRouteBanner:function(){
        for(let i = 0 ; i<this.banners.length; i++){
          if(this.banners[i].currentRoute == this.$route.fullPath){
            return  true;
          }
        }
        return false;
      }
   },
   created(){
  this.hasBackground = this.searchRouteBanner();
   },
   watch:{
     $route(to, from){
       console.log(to, from);
       this.hasBackground = this.searchRouteBanner();
     }
   }
  }
</script>

<style lang="scss">
.home-banner{
  background:url('./../../assets/Pope.jpg');
  .hero-body{
    padding:3rem 1.5rem !important;
    @media (min-width: 1360px) {
        padding:6rem 1.5rem !important;
    }
    @media (max-width: 780px) {
        padding:4rem 1.5rem !important;
    }
    @media (max-width:460px) {
        padding:3rem 1.5rem !important;
    }
  }

}
.hero-foot{
  margin-bottom:12px;
  .columns{
    margin-left:0 !important;
  }
}
.closing-tip{
  align-items: center;
  justify-content: flex-end;
  position:relative;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 8px solid #000;
  position: absolute;
  right: -8px;
  top: 35%;
  opacity: 0.3;
  z-index: 2;
}
.navbar-menu.is-active{
  transition:.5s;
  -webkit-transition:.5s;
}
.navbar-item{
  cursor:pointer;
  a{
    color:#fff;
    @media (max-width: 1024px) {
    color:#000;
    }
    &:hover{
      color:#fff;
    }
  }
    p{
      color:#fff;
      @media (max-width: 1024px) {
      color:#000;
      }
   }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    a{
      color:#fff;
    }
    p{
      color:#fff;
    }
  }
}
.navbar-item:hover{

  a{
    font-weight:bold;
  }
  p{
    font-weight:bold;
  }
  @media (max-width: 1024px) {
  background-color:#000;
  a{
    color:#fff;
  }
  p{
    color:#fff;
  }
  }

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  background-color:transparent;
  }

}
.search-button:hover{
  background-color:#fff;
  p{
    color:#000;
  }
}
.search-button.active{
  background-color:#fff;
  p{
    color:#000;
  }
  input{
    min-width:230px;
  }
}
</style>
