<template>
  <div id="app">
  <Nav/>
    <router-view></router-view>
  <Footer />
  </div>
</template>

<script>
//import HelloWorld from './components/HelloWorld.vue'
import Nav from './components/_common/Nav.vue';
import Footer from './components/_common/Footer.vue';
export default {
  name: 'App',
  components: {
   Nav,
   Footer
 },
}
</script>

<style lang="scss">
@import "~bulma/css/bulma.css";
*{
  font-family: 'Lato', sans-serif;
}
.container-content{
  max-width:1140px;
  margin:0 auto;
  @media (max-width: 991px) {
  max-width:900px;
  padding:0 1.2rem;
  }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    max-width:960px;
    padding:0 1.2rem;
  }
}
.has-background{
  -webkit-box-shadow: inset -7px 33px 83px -20px rgba(0,0,0,0.75);
  -moz-box-shadow: inset -7px 33px 83px -20px rgba(0,0,0,0.75);
  box-shadow: inset -7px 33px 83px -20px rgba(0,0,0,0.75);
  background-position:center top;
  background-size:cover !important;
  background-repeat:no-repeat !important;
}
.is-aligned-center{
  align-items:center;
}
.is-justified-between{
  justify-content:space-between;
}
.is-justified-center{
  justify-content:center;
}
.is-green{
  background-color:#1cbbb4;
  border:0px;
  &:hover{
    background-color:#16e2d9;
  }
  &:active{
    background-color:#16e2d9;
    border:0px;
  }
  &:focus{
    background-color:#16e2d9;
    border:0px;
  }
}
.is-orange{
  background-color:#ffad1d;
  border:0px;
  &:hover{
    background-color:#ffbd4a;
  }
  &:active{
    background-color:#ffbd4a;
    border:0px;
  }
  &:focus{
    background-color:#ffbd4a;
    border:0px;
  }
}
.has-green-bg{
  background-color:rgba(32, 206, 197, .8);
  &:hover{
    background-color:rgba(54, 212, 206, 1);
  }
}
.has-orange-bg{
  background-color:rgba(245, 156 , 0, .8);
  &:hover{
  background-color:rgba(245, 156 , 0, 1);
  }
}

.is-none{
  display:none;
}
.w-100{
  width:100%;
}
.p-0{
  padding:0;
}
.p-1{
  padding:1rem;
}
.px-1{
  padding-top:1rem;
  padding-bottom:1rem;
}
.p-2{
  padding:1.2rem;
}
.p-3{
  padding:1.4rem;
}

</style>
